h1 {
  text-align: center;
  color: #afc5ff;
  font-size: 48px;
}

img {
  max-width: 450px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  min-width: 450px 600px;
  border-radius: 7px;
}

p {
  text-align: center;
}
a {
  color: #afc5ff;
  font-weight: bolder;
  font-size: larger;
  padding-top: 15px;
}

.border {
  display: block;
  margin: 0 auto;
  border: solid 2px #afc5ff;
  max-width: 600px;
  background-color: #fcff82;
  border-radius: 7px;
  padding-bottom: 100px;
  margin-top: 30px;
  min-width: 400px 695px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  font-size: smaller;
}
